<%- include("partials/header"); -%>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-Laptop-Image.png" class="d-block w-100 carousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3><u className="u"><b>Raman Ailawadhi</b>    (Full Stack Developer)</u></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-Laptop-Image.png" class="d-block w-100 carousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3><u className="u"><b>Mayank</b>    (Full Stack Developer)</u></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-Laptop-Image.png" class="d-block w-100 carousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3><u className="u"><b>Rahul Jindal</b>    (Backend Developer)</u></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Free-Download-Laptop-Image.png" class="d-block w-100 carousel" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3><u className="u"><b>Aayush Singla</b>    (Frontend Developer)</u></h3>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="box_style">
  <table>
<tr>
<td style="width: 50%">
  <img class='img2' src= "https://media.istockphoto.com/photos/the-setup-for-success-picture-id1165916723?k=6&m=1165916723&s=612x612&w=0&h=jk4D-OaGU9laTNFlLdPrYd-dJYuJPhKr1DVYixQ0N3s=" alt="Snow" />
</td>
<td style="width: 50%">
  <h1 style="text-align: center"><b>Our Believes</b></h1>
  <p class="HomeBlockTwoText">
      We are a non-profit organization, we believe in a world where the power of Artificial Intelligence can be used to make the world a better and more secure place. Our models can also be implemented for many other tasks related to image processing. We believe that there should be open source alternatives for such important, life changing applications, and that we shouldn’t be dependent on major tech giants of the world for these, going open source also helps us continuously improve the model without costing much money, so we can support the project for years.
  </p>
</td>
</tr>
</table>
</div>

<%- include("partials/footer"); -%>
