<%- include("partials/header"); -%>

                <div class="login_box">
                    <div class="loginForm">
                      <h2 style= "text-align: center; color: #555;" >Anomaly Detection</h2>
                      <div class="container1_login">
                      <div class="form_login">
                        <form action="/volunteer" method="post">
                          <div class="container_login">
                            <div>
                              <label style= "color: #555">
                                Image:
                              </label>
                              <input
                              class="form-control"
                                type="file"
                              />
                            </div>

                            <br />
                            <button type="submit" name="button">Submit</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    </div>

<%- include("partials/footer"); -%>
