<%- include("partials/header"); -%>

            <div class="img_container1">
                            <img class='contact_img' src="https://cdn.mos.cms.futurecdn.net/BDgBYzF32hJSyeayqyvfBj.jpg" alt="Snow" />
                            <div class="img_text_centered">

                                <h1>Get in Touch!</h1><br />

                                <p style= "font-size: 18px;">"At Choice You Always Talk to a Human !"<br/><br/>

                                  Whether You have a Question About features, trials, need any help our team is ready to answer all your question</p>

            <div class="container">
               <div class="row">
                   <div class="col-sm-5 col-md-6" style= "background-color: white; color: black;">
                     <img style= "height: 50px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmDYqcHqTDb9Hi739uffN8pq9oVhyie_qZejmCv2-GEceTvrCvaby8rX0XrNKfravoYcA&usqp=CAU" alt="Snow" />
                         <br/><br/><h5>Email:</h5>
                         <h5 style= "margin: 40px 0px;">
                         support@company.com
                             <br />
                         </h5>
          </div>
          <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" style= "background-color: white; color: black;">
            <img style= "height: 70px" src="https://media.istockphoto.com/vectors/blue-phone-icon-symbol-in-trendy-flat-style-isolated-on-white-logo-vector-id1218149116?k=20&m=1218149116&s=170667a&w=0&h=wyBX1uKxL8WSRg8nGyAG9YHq9tLKimwDpJk6HrWVzNg=" alt="Snow" />
                <br/><br/><h5>Call Us:</h5>
                <h5 style= "margin: 40px 0px">
                0172-1234XX
                    <br />
                </h5>
          </div>
        </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
