<%- include('partials/header'); -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-4">
      <h1 class=""><i class="fas fa-clipboard-list"></i> Instructions</h1>
      <hr />

      <div>
        <br/>
        <p><span id="isPasted" style='color: rgb(0, 0, 0); font-family: "Times New Roman"; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>&bull;</span>&nbsp; Write a single English sentence for each image.</p>
<p>&bull; The sentences have to be in the present or present continuous tense. Present continuous tense: Present tense of the verb &ldquo;to be&rdquo; plus the present participle (-ing form) of a verb i.e. &ldquo;a man is laying on the ground, while two paramedics are assisting him&rdquo;.</p>
<p>&bull; Write primarily about the accident/incident/anomaly in the image.</p>
<p>&bull; When possible be explicit with the number of persons in the image.</p>
<p>&bull; The sentence should not contain any digits (i.e. 1 2 3 ... 9).</p>
<p>&bull; Use written numbers instead of digits (i.e. &rsquo;one&rsquo; &rsquo;two&rsquo; ... &rsquo;nine&rsquo;).</p>
<p>&bull; When appropriate be explicit with the gender (man, woman).</p>
<p><span id="isPasted" style='color: rgb(0, 0, 0); font-family: "Times New Roman"; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;'>&bull;</span> There is no limitation in the length of the sentence.</p>
      </div>
    </div>

    <div class="col-12 offset-md-2 col-md-6">
      <div class="card card-body shadow">
        <h1 class="text-center mb-3">
          <i class="fas fa-database"></i> Contribute
        </h1>
        <form
          action="/users/contribute"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <input
              type="file"
              id="file"
              name="img"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="c1">Caption 1</label>
            <input
              type="text"
              id=""
              name="c1"
              class="form-control"
              value=""
              placeholder="Enter Caption 1"
              required
            />
          </div>
          <div class="form-group">
            <label for="c2">Caption 2</label>
            <input
              type="text"
              id=""
              name="c2"
              class="form-control"
              value=""
              placeholder="Enter Caption 1"
              required
            />
          </div>
          <div class="form-group">
            <label for="c3">Caption 3</label>
            <input
              type="text"
              id=""
              name="c3"
              class="form-control"
              value=""
              placeholder="Enter Caption 1"
              required
            />
          </div>
          <div class="form-group">
            <label for="c4">Caption 4</label>
            <input
              type="text"
              id=""
              name="c4"
              class="form-control"
              value=""
              placeholder="Enter Caption 1"
              required
            />
          </div>
          <div class="form-group">
            <label for="c5">Caption 5</label>
            <input
              type="text"
              id=""
              name="c5"
              class="form-control"
              value=""
              placeholder="Enter Caption 1"
              required
            />
          </div>
          <button type="submit" class="mb-4 btn btn-primary btn-block">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
