<%- include("partials/header"); -%>
<div class="login_box">
  <div class="loginForm">
    <h2 style="text-align: center; color: #555">Signup Form</h2>
    <div class="container1_login">
      <div class="form_login">
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value=""
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value=""
              required
            />
          </div>
          <button type="submit" class="btn btn-success btn-block">
            Sign Up
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
