<%- include("partials/header"); -%>

                <div class="login_box">
                    <div class="volunteerForm">
                      <h2 style= "text-align: center; color: #555;" >Become a Volunnteer</h2>
                      <div class="container1_login">
                      <div class="form_login">
                        <form action="/volunteer" method="post">
                          <div class="container_login">
                            <div>
                              <label style= "color: #555">
                                Image:
                              </label>
                              <input
                              class="form-control"
                                type="file"
                                name="image"
                              />
                            </div>

                            <div>
                              <label style= "color: #555" htmlFor="caption_one">
                                Caption 1:
                              </label>
                              <input
                                type="text" placeholder="Enter your Caption 1"
                                name="caption_one"
                                autoComplete="off"
                                value= ""
                              />
                            </div>

                            <div>
                              <label style= "color: #555" htmlFor="caption_two">
                                Caption 2:
                              </label>
                              <input
                                type="text" placeholder="Enter your Caption 2"
                                name="caption_two"
                                autoComplete="off"
                                value= ""
                              />
                            </div>

                            <div>
                              <label style= "color: #555" htmlFor="caption_three">
                                Caption 3:
                              </label>
                              <input
                                type="text" placeholder="Enter your Caption 3"
                                name="caption_three"
                                autoComplete="off"
                                value= ""
                              />
                            </div>

                            <div>
                              <label style= "color: #555" htmlFor="caption_four">
                                Caption 4:
                              </label>
                              <input
                                type="text" placeholder="Enter your Caption 4"
                                name="caption_four"
                                autoComplete="off"
                                value= ""
                              />
                            </div>
                            <br />
                            <button type="submit" name="button">Submit</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    </div>

<%- include("partials/footer"); -%>
