.navLink{
    
    font-size: 17px;
    font-weight:bold;
}

.siteTitle{
    color:rgb(32, 163, 214);
    display: center;
    font-size:25px;
    font-weight:bold;
}

.siteTitle:hover{
    color:rgb(32, 163, 214)
}

.header{
    overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}