.carousel {
    width:1515px;
    height:600px;
  }

  .caption {
    padding: 240px 0px;
  }

  .u {
    background-color: black;
  }

  @media (max-width:1500px){
    .carousel {
      width:1500px;
      height:550px;
    }
    .caption {
      padding: 220px 0px;
    }
  }

  @media (max-width:1400px){
    .carousel {
      width:1400px;
    }
  }

  @media (max-width:1300px){
    .carousel {
      width:1300px;
    }
  }

  @media (max-width:1200px){
    .carousel {
      width:1200px;
    }
  }

  @media (max-width:1100px){
    .carousel {
      width:1100px;
    }
  }

  @media (max-width:1000px){
    .carousel {
      width:1000px;
    }
  }

  @media (max-width:900px){
    .carousel {
      width:900px;
    }
  }

  @media (max-width:800px){
    .carousel {
      width:800px;
    }
  }

  @media (max-width:700px){
    .carousel {
      width:700px;
      height: 400px;
    }
    .caption {
      padding: 140px 0px;
    }
  }

  @media (max-width:600px){
    .carousel {
      width:600px;
     }
  }

  @media (max-width:500px){
    .carousel {
      width:483px;
     }
  }